<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <title></title>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    </head>
    <body>
        <div id="content"></div>
        <p>nihao</p>
        <button id="btn">
            点我
        </button>
        <script>
            $('#btn').on('click',function(){
                $.post('/add',{name:'小兰',function(data){
                    console.log(data.data)
                    // alert(`添加成功，用户id是${data.data}`)  
                }})
            })
        </script>
    </body>
</html>